<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<sitecore>
		<!--Current 8.1 documentation says that Exclude Robots should be enabled, unlike 8.0 documentation. Ticket 462474 has been submitted to clarify whether this is correct.-->
		<analyticsExcludeRobots xdt:Transform="Remove" />
		<pipelines>
			<commitSession>
				<!--Sitecore.Analytics.Tracking.Database disabled. Additional 8.1 pipelines-->
				<processor type="Sitecore.Analytics.Pipelines.CommitSession.UpdateContactBehaviorProfiles, Sitecore.Analytics" xdt:Transform="Insert">
					<patch:delete/>
				</processor>
			</commitSession>
		</pipelines>
		<tracking>
			<contactManager>
				<!--Sitecore.Analytics.Tracking.Database disabled. 8.1 Executes a patch:delete on the contactRepository, so we need to re-introduce the definition.-->
				<param desc="contactRepository" ref="tracking/nullContactRepository" xdt:Transform="Replace" />
			</contactManager>
		</tracking>
	</sitecore>
</configuration>