<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<sitecore>
		<aggregation>
			<aggregationContexts xdt:Transform="InsertAfter(/configuration/sitecore/aggregation/aggregator)">
				<!--Sitecore.PathAnalyzer.Processing.config disabled. Removed Path Analyzer aggregation contexts-->
				<pathAnalyzer>
					<patch:delete />
				</pathAnalyzer>
			</aggregationContexts>
			<pathAnalyzerLiveAgent xdt:Transform="Insert">
				<!--Sitecore.PathAnalyzer.Processing.config disabled. Removed Path Analyzer live agent-->
				<patch:delete />
			</pathAnalyzerLiveAgent>
			<pathAnalyzerHistoryAgent xdt:Transform="Insert">
				<!--Sitecore.PathAnalyzer.Processing.config disabled. Removed Path Analyzer history agent-->
				<patch:delete />
			</pathAnalyzerHistoryAgent>
		</aggregation>
		<aggregationProcessing xdt:Transform="InsertAfter(/configuration/sitecore/aggregation)">
			<processingPools>
				<!--Sitecore.PathAnalyzer.Processing.config disabled. Removed Path Analyzer pools-->
				<pathAnalyzerLive>
					<patch:delete />
				</pathAnalyzerLive>
				<pathAnalyzerHistory>
					<patch:delete />
				</pathAnalyzerHistory>
			</processingPools>
		</aggregationProcessing>
		<!--Current 8.1 documentation says that Exclude Robots should be enabled, unlike 8.0 documentation. Ticket 462474 has been submitted to clarify whether this is correct.-->
		<analyticsExcludeRobots xdt:Transform="Remove" />
		<contentSearch xdt:Transform="InsertBefore(/configuration/sitecore/events)">
			<configuration>
				<indexes>
					<!-- Disable Sitecore.Marketing.Lucene.Index.Web.config. Index removed -->
					<index id="sitecore_marketingdefinitions_web">
						<patch:delete />
					</index>
				</indexes>
			</configuration>
		</contentSearch>
		<pipelines>
			<commitSession>
				<!--Sitecore.Analytics.Tracking.Database disabled. Additional 8.1 pipelines-->
				<processor type="Sitecore.Analytics.Pipelines.CommitSession.UpdateContactBehaviorProfiles, Sitecore.Analytics" xdt:Transform="Insert">
					<patch:delete/>
				</processor>
			</commitSession>
		</pipelines>
		<pathAnalyzer>
			<dailyMapAgent xdt:Transform="Remove" />
			<mapRebuildStatusCheckerAgent xdt:Transform="Insert">
				<patch:delete />
			</mapRebuildStatusCheckerAgent>
			<mapWorker xdt:Transform="Insert">
				<patch:delete />
			</mapWorker>
			<newMapAggregator xdt:Transform="Insert">
				<patch:delete />
			</newMapAggregator>
			<trailCleanupAgent xdt:Transform="Insert">
				<patch:delete />
			</trailCleanupAgent>
		</pathAnalyzer>
		<scheduling xdt:Transform="Insert">
			<!--Sitecore.Processing.config disabled in 8.1. Agents removed. Message out to doc team to clarify if this should also be disabled in 8.0-->
			<agent name="Core_Database_Agent">
				<patch:delete />
			</agent>
			<agent name="Master_Database_Agent">
				<patch:delete />
			</agent>
		</scheduling>
		<tracking>
			<contactManager>
				<!--Sitecore.Analytics.Tracking.Database disabled. 8.1 Executes a patch:delete on the contactRepository, so we need to re-introduce the definition.-->
				<param desc="contactRepository" ref="tracking/nullContactRepository" xdt:Transform="Replace" />
			</contactManager>
		</tracking>
	</sitecore>
</configuration>