<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <hooks>
      <hook type="Sitecore.ListManagement.Analytics.Hooks.UnlockContactListsAgentLoader, Sitecore.ListManagement.Analytics" xdt:Transform="Insert">
        <!--Disable Sitecore.ListManagement.config. UnlockContactListsAgentLoader removed. -->
        <patch:delete />
      </hook>
    </hooks>
    <pipelines>
      <initialize>
        <processor type="Sitecore.ListManagement.Services.Pipelines.Initialize.RegisterHttpRoutes, Sitecore.ListManagement.Services" xdt:Locator="Match(type)" xdt:Transform="Remove" />
      </initialize>
    </pipelines>
    <scheduling>
      <agent type="Sitecore.ListManagement.Analytics.UnlockContactListsAgent, Sitecore.ListManagement.Analytics" xdt:Locator="Match(type)" xdt:Transform="Remove" />
    </scheduling>
  </sitecore>
</configuration>