<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<sitecore>
		<settings>
			<!-- New 8.1 ExperienceAnalytics.Reduce.config setting.-->
			<setting name="ExperienceAnalytics.Reduce.Timeout" xdt:Transform="InsertAfter(/configuration/sitecore/settings/setting[@name='ExperienceAnalytics.Reduce.DefaultVisitThreshold'])">
				<patch:delete />
			</setting>
		</settings>
		<aggregation>
			<aggregationContexts xdt:Transform="InsertAfter(/configuration/sitecore/aggregation/aggregator)">
				<!--Sitecore.PathAnalyzer.Processing.config disabled. Removed Path Analyzer aggregation contexts-->
				<pathAnalyzer>
					<patch:delete />
				</pathAnalyzer>
			</aggregationContexts>
			<pathAnalyzerLiveAgent xdt:Transform="Insert">
				<!--Sitecore.PathAnalyzer.Processing.config disabled. Removed Path Analyzer live agent-->
				<patch:delete />
			</pathAnalyzerLiveAgent>
			<pathAnalyzerHistoryAgent xdt:Transform="Insert">
				<!--Sitecore.PathAnalyzer.Processing.config disabled. Removed Path Analyzer history agent-->
				<patch:delete />
			</pathAnalyzerHistoryAgent>
		</aggregation>
		<aggregationProcessing xdt:Transform="InsertAfter(/configuration/sitecore/aggregation)">
			<processingPools>
				<!--Sitecore.PathAnalyzer.Processing.config disabled. Removed Path Analyzer pools-->
				<pathAnalyzerLive>
					<patch:delete />
				</pathAnalyzerLive>
				<pathAnalyzerHistory>
					<patch:delete />
				</pathAnalyzerHistory>
			</processingPools>
		</aggregationProcessing>
		<contentSearch xdt:Transform="InsertBefore(/configuration/sitecore/events)">
			<configuration>
				<indexes>
					<!-- Disable Sitecore.Marketing.Lucene.Index.Web.config. Index removed -->
					<index id="sitecore_marketingdefinitions_web">
						<patch:delete />
					</index>
				</indexes>
			</configuration>
		</contentSearch>
		<hooks>
			<!--Sitecore 8.1 has a different type for the Reduce loader. To transform, need to add separate property to match on then change the type.-->			
			<hook type="Sitecore.ExperienceAnalytics.Reduce.SubSystemLoader, Sitecore.ExperienceAnalytics" xdt:Transform="SetAttributes" xdt:Locator="Match(type)" desc="reduceLoader"  />
			<hook desc="reduceLoader" xdt:Locator="Match(desc)" xdt:Transform="SetAttributes" type="Sitecore.ExperienceAnalytics.Core.SubSystemLoader, Sitecore.ExperienceAnalytics" />
		</hooks>
		<pipelines>
			<commitSession>
				<!--Sitecore.Analytics.Tracking.Database disabled. Additional 8.1 pipelines-->
				<processor type="Sitecore.Analytics.Pipelines.CommitSession.UpdateContactBehaviorProfiles, Sitecore.Analytics" xdt:Transform="Insert">
					<patch:delete/>
				</processor>
			</commitSession>
		</pipelines>
		<pathAnalyzer>
			<dailyMapAgent xdt:Transform="Remove" />
			<mapRebuildStatusCheckerAgent xdt:Transform="Insert">
				<patch:delete />
			</mapRebuildStatusCheckerAgent>
			<mapWorker xdt:Transform="Insert">
				<patch:delete />
			</mapWorker>
			<newMapAggregator xdt:Transform="Insert">
				<patch:delete />
			</newMapAggregator>
			<trailCleanupAgent xdt:Transform="Insert">
				<patch:delete />
			</trailCleanupAgent>
		</pathAnalyzer>
		<tracking>
			<contactManager>
				<!--Sitecore.Analytics.Tracking.Database disabled. 8.1 Executes a patch:delete on the contactRepository, so we need to re-introduce the definition.-->
				<param desc="contactRepository" ref="tracking/nullContactRepository" xdt:Transform="Replace" />
			</contactManager>
		</tracking>
	</sitecore>
</configuration>