<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <controllers>
      <controller type="Sitecore.ListManagement.Services.ActionsController, Sitecore.ListManagement.Services" xdt:Transform="Insert">
        <!--Disable Sitecore.ListManagement.Services.config. ActionsController removed -->
        <patch:delete />
      </controller>
      <controller type="Sitecore.ListManagement.Services.ContactListController, Sitecore.ListManagement.Services" xdt:Transform="Insert">
        <!--Disable Sitecore.ListManagement.Services.config. ContactListController removed -->
        <patch:delete />
      </controller>
      <controller type="Sitecore.ListManagement.Services.ContactsController, Sitecore.ListManagement.Services" xdt:Transform="Insert">
        <!--Disable Sitecore.ListManagement.Services.config. ContactsController removed -->
        <patch:delete />
      </controller>
      <controller type="Sitecore.ListManagement.Services.ImportController, Sitecore.ListManagement.Services" xdt:Transform="Insert">
        <!--Disable Sitecore.ListManagement.Services.config. ImportController removed -->
        <patch:delete />
      </controller>
      <controller type="Sitecore.ListManagement.Services.SegmentedListController, Sitecore.ListManagement.Services" xdt:Transform="Insert">
        <!--Disable Sitecore.ListManagement.Services.config. SegmentedListController removed -->
        <patch:delete />
      </controller>
      <controller type="Sitecore.ListManagement.Services.ListLockingController, Sitecore.ListManagement.Services" xdt:Transform="Insert">
        <!--Disable Sitecore.ListManagement.Services.config. ListLockingController removed -->
        <patch:delete />
      </controller>
    </controllers>
    <maintenanceService xdt:Transform="Remove" />
    <pipelines>
      <deployDefinition xdt:Transform="Remove" />
      <initialize>
        <processor type="Sitecore.ListManagement.Services.Pipelines.Initialize.RegisterHttpControllerActivator, Sitecore.ListManagement.Services" xdt:Transform="Insert">
          <!--Disable Sitecore.ListManagement.Services.config. RegisterHttpControllerActivator removed -->
          <patch:delete />
        </processor>
      </initialize>
      <listManagement.getLockedLists xdt:Transform="Remove" />
    </pipelines>
  </sitecore>
</configuration>