<?xml version="1.0"?>
<!-- 
  Obtained from @AgileStCyr: https://github.com/jst-cyr/Sitecore-Role-Configs/
  
	Provides the default configuration for an authoring/content management server.
  Replaces the 'enable/disable' steps from Sitecore docs: https://doc.sitecore.net/sitecore_experience_platform/80/setting_up__maintaining/experience_database/configuring_servers/configure_a_content_management_server
  Originally built for Sitecore 8 Update 5, transforms update for other versions.
  
	Where it matters, the configurations assume a combined authoring/reporting role on the instance within a scaled environment (not a single instance environment).
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!--Disable Sitecore.ExperienceAnalytics.Reduce.config. Multiple settings removed. -->
      <setting name="ExperienceAnalytics.Reduce.DefaultKeepCountThreshold">
        <patch:delete/>
      </setting>
      <setting name="ExperienceAnalytics.Reduce.DefaultValueThreshold">
        <patch:delete/>
      </setting>
      <setting name="ExperienceAnalytics.Reduce.DefaultVisitThreshold">
        <patch:delete/>
      </setting>
      <!--Disable robots -->
      <setting name="Analytics.AutoDetectBots">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
		<!--Enable Sitecore.Social.ScalabilitySettings.config for scaled environments -->
		<!--  SOCIAL - SCALABILITY - CONTENT MANAGEMENT - TASKS EXECUTION INSTANCE
				The name of the Sitecore content management installation that performs Social tasks.
				If this value is empty, Social tasks are not performed.
				Default value: ""
				To perform tasks into Azure environment it should be changed to "0"
		  -->
		<setting name="Social.Scalability.ContentManagement.TasksExecutionInstance" value="CM" />
    </settings>
    <aggregation>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. Aggregator removed -->
      <aggregator>
        <patch:delete/>
      </aggregator>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. automationAggregationSubsystem removed -->
      <automationAggregationSubsystem>
        <patch:delete/>
      </automationAggregationSubsystem>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. automationAggregator removed -->
      <automationAggregator>
        <patch:delete/>
      </automationAggregator>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. automationCleanupService removed -->
      <automationCleanupService>
        <patch:delete/>
      </automationCleanupService>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. automationRangeManager removed -->
      <automationRangeManager>
        <patch:delete/>
      </automationRangeManager>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. cleanup removed -->
      <cleanup>
        <patch:delete/>
      </cleanup>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. dispatchers removed -->
      <dispatchers>
        <patch:delete/>
      </dispatchers>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. historyCompletionCheck removed -->
      <historyCompletionCheck>
        <patch:delete/>
      </historyCompletionCheck>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. historyWorker removed -->
      <historyWorker>
        <patch:delete/>
      </historyWorker>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. module removed -->
      <module>
        <patch:delete/>
      </module>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. rebuildAgent removed -->
      <rebuildAgent>
        <patch:delete/>
      </rebuildAgent>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. contactProcessing removed -->
      <contactProcessing>
        <patch:delete/>
      </contactProcessing>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. recovery removed -->
      <recovery>
        <patch:delete/>
      </recovery>
    </aggregation>
    <analyticsExcludeRobots>
      <!--Disable Sitecore.Analytics.ExcludeRobots.config. analyticsExcludeRobots block removed-->
      <patch:delete/>
    </analyticsExcludeRobots>
    <events>
      <event name="media:request">
        <!--Disable Sitecore.Analytics.Tracking.RobotDection.config. Revert MediaRequestEventHandler-->
        <handler patch:instead="*[@type='Sitecore.Analytics.RobotDetection.Media.MediaRequestEventHandler, Sitecore.Analytics.RobotDetection']"
					type="Sitecore.Analytics.Media.MediaRequestEventHandler, Sitecore.Analytics" method="OnMediaRequest"/>
      </event>
	
	  <!--Enable Sitecore.Social.ScalabilitySettings.config for scaled environments -->
      <event name="publish:end:remote">
        <handler type="Sitecore.Social.Client.MessagePosting.Handlers.PublishEndHandler, Sitecore.Social.Client" method="ClearDbMesageCache"/>
      </event>     
      
      <event name="social:connector:user:created">
        <!-- Raises the "social:connector:user:created:remote" event. -->
        <handler type="Sitecore.Social.Client.Connector.Handlers.SocialConnectorUserCreatedHandler, Sitecore.Social.Client" method="OnSocialConnectorUserCreated"/>
      </event>
      
      <!-- social:connector:user:created:remote(string userName)
           Raised after a new Sitecore user has been created by the module on a remote Sitecore instance. -->
      <event name="social:connector:user:created:remote">
      </event>
      
      <event name="social:connector:user:loggedin">
        <!-- Raises the "social:connector:user:loggedin:remote" event. -->
        <handler type="Sitecore.Social.Client.Connector.Handlers.SocialConnectorUserLoggedInHandler, Sitecore.Social.Client" method="OnSocialConnectorUserLoggedIn"/>
      </event>
      
      <!-- social:connector:user:loggedin:remote(SocialNetworkUserLoggedInEventArgs args)
           Raised after a user has logged into a remote Sitecore instance from a social network. -->
      <event name="social:connector:user:loggedin:remote">
      </event>
      
      <event name="social:connector:user:socialprofileattached">
        <!-- Throws the "social:connector:user:loggedin:remote" event. -->
        <handler type="Sitecore.Social.Client.Connector.Handlers.SocialProfileAttachedHandler, Sitecore.Social.Client" method="OnSocialProfileAttached"/>
      </event>     
      
      <!-- social:connector:user:socialprofileattached:remote(SocialProfileAttachedEventArgs args)
           Raised after a new social profile has been attached to user on a remote Sitecore instance. -->
      <event name="social:connector:user:socialprofileattached:remote">
      </event>
           
      <event name="social:message:created">
        <!-- Raises the "social:message:created:remote" event. -->
        <handler type="Sitecore.Social.Client.MessagePosting.Handlers.SocialMessageCreatedHandler, Sitecore.Social.Client" method="OnSocialMessageCreated"/>
      </event>
      
      <!-- social:message:created:remote
           Raised after a new social message has been created on a remote Sitecore instance. -->
      <event name="social:message:created:remote">
        <!-- Adds the appropriate message to cache. -->
        <handler type="Sitecore.Social.Client.MessagePosting.Handlers.MessagesByContainerCacheHandler, Sitecore.Social.Client" method="AddMessageToCache"/>
      </event>
      
      <event name="social:message:deleted">
        <!-- Raises the "social:message:deleted:remote" event. -->
        <handler type="Sitecore.Social.Client.MessagePosting.Handlers.SocialMessageDeletedHandler, Sitecore.Social.Client" method="OnSocialMessageDeleted"/>
      </event>
      
      <!-- social:message:deleted:remote
           Raised after a social message has been deleted from a remote Sitecore instance. -->
      <event name="social:message:deleted:remote">
        <!-- Removes the appropriate message from cache. -->
        <handler type="Sitecore.Social.Client.MessagePosting.Handlers.MessagesByContainerCacheHandler, Sitecore.Social.Client" method="RemoveMessageFromCache"/>
      </event>
      
      <event name="social:message:updated">
        <!-- Raises the "social:message:updated:remote" event. -->
        <handler type="Sitecore.Social.Client.MessagePosting.Handlers.SocialMessageUpdatedHandler, Sitecore.Social.Client" method="OnSocialMessageUpdated"/>
      </event>
      
      <!-- social:message:updated:remote
           Raised after a social message has been updated on a remote Sitecore instance. -->
      <event name="social:message:updated:remote">
      </event>
    </events>
    <experienceAnalytics>
      <!--Disable Sitecore.ExperienceAnalytics.Aggregation.config. aggregation block removed-->
      <aggregation>
        <patch:delete/>
      </aggregation>
      <!--Disable Sitecore.ExperienceAnalytics.Reduce.config. reduce block removed -->
      <reduce>
        <patch:delete/>
      </reduce>
    </experienceAnalytics>
    <hooks>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. AggregationLoader removed -->
      <hook type="Sitecore.Analytics.Aggregation.AggregationLoader, Sitecore.Analytics.Aggregation">
        <patch:delete/>
      </hook>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. SubsystemLoader removed -->
      <hook type="Sitecore.Analytics.Automation.Aggregation.SubsystemLoader, Sitecore.Analytics.Automation.Aggregation">
        <patch:delete/>
      </hook>
      <!--Disable Sitecore.Analytics.Processing.Services.config. SubsystemLoader removed -->
      <hook type="Sitecore.Analytics.Processing.ProcessingLoader, Sitecore.Analytics.Processing">
        <patch:delete/>
      </hook>
      <!--Disable Sitecore.ExperienceAnalytics.Reduce.config. SubsystemLoader removed -->
      <hook type="Sitecore.ExperienceAnalytics.Reduce.SubSystemLoader, Sitecore.ExperienceAnalytics">
        <patch:delete/>
      </hook>
      <!--Disable Sitecore.PathAnalyzer.Processing.config. SubsystemLoader removed -->
      <hook type="Sitecore.PathAnalyzer.Processing.SubsystemLoader, Sitecore.PathAnalyzer">
        <patch:delete/>
      </hook>
    </hooks>
    <maintenanceService>
      <Services>
        <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. rdbCleanUpPrimary removed -->
        <rdbCleanUpPrimary>
          <patch:delete/>
        </rdbCleanUpPrimary>
      </Services>
    </maintenanceService>
    <pathAnalyzer>
      <!--Disable Sitecore.PathAnalyzer.Processing.config subsystem and agents removed-->
      <subsystem>
        <patch:delete/>
      </subsystem>
      <dailyMapAgent>
        <patch:delete/>
      </dailyMapAgent>
      <newMapAgent>
        <patch:delete/>
      </newMapAgent>
      <smartMergeAgent>
        <patch:delete/>
      </smartMergeAgent>
    </pathAnalyzer>
    <pipelines>
      <!--Disable Sitecore.ContentTesting.Processing.Aggregation.config. analytics.aggregation group removed-->
      <group groupName="analytics.aggregation">
        <patch:delete/>
      </group>
      <commitSession>
        <!--Disable Sitecore.Analytics.Tracking.Database.config. Multiple processors removed. -->
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.CheckPreconditions, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.UpdateGeoIpData, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.EnsureClassification, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.Robots, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.IgnoreVisitsWithoutPages, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.UpdateContactSaveMode, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.SubmitSession, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.ProcessSubscriptions, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.ReleaseSharedSession, Sitecore.Analytics">
          <patch:delete/>
        </processor>
      </commitSession>
      <initializeTracker>
        <!--Disable Sitecore.Analytics.Tracking.RobotDetection.config. Revert Robots detection-->
        <processor patch:instead="*[@type='Sitecore.Analytics.RobotDetection.Pipelines.InitializeTracker.Robots, Sitecore.Analytics.RobotDetection']"
					type="Sitecore.Analytics.Pipelines.InitializeTracker.Robots, Sitecore.Analytics"/>
      </initializeTracker>
      <postSessionEnd>
        <!--Disable Sitecore.Analytics.Tracking.Database.config. CommitSession processor removed. -->
        <processor type="Sitecore.Analytics.Pipelines.PostSessionEnd.CommitSession, Sitecore.Analytics">
          <patch:delete/>
        </processor>
      </postSessionEnd>
      <submitSessionContext>
        <!--Disable Sitecore.Analytics.Tracking.Aggregation.config. submitSessionContext pipeline removed -->
        <patch:delete/>
      </submitSessionContext>
    </pipelines>
    <processing>
      <!--Disable Sitecore.Analytics.Processing.Services.config. ProcessingModule removed -->
      <module type="Sitecore.Analytics.Processing.ProcessingModule">
        <patch:delete/>
      </module>
    </processing>
	<scheduling>
		<!--Sitecore.Processing.config disabled in 8.1. Agents removed. Doc team has confirmed this should also be disabled in 8.0 for authoring. -->
		<agent name="Core_Database_Agent">
			<patch:delete />
		</agent>
		<agent name="Master_Database_Agent">
			<patch:delete />
		</agent>
	</scheduling>
	<submitQueue>
      <!--Disable Sitecore.Analytics.Tracking.Database.config. backgroundService removed-->
      <backgroundService>
        <patch:delete/>
      </backgroundService>
    </submitQueue>
    <tracking>
      <contactManager>
        <!--Disable Sitecore.Analytics.Tracking.Database.config. contactRepository value rolled back to nullContactRepository-->
        <param desc="contactRepository">
          <patch:attribute name="ref">tracking/nullContactRepository</patch:attribute>
        </param>
      </contactManager>
    </tracking>
  </sitecore>
</configuration>
