<?xml version="1.0"?>
<!-- 
  Obtained from @AgileStCyr: https://github.com/jst-cyr/Sitecore-Role-Configs/
  
	Provides the default configuration for an authoring/content management server.
  Replaces the 'enable/disable' steps from Sitecore docs: https://doc.sitecore.net/sitecore_experience_platform/80/xdb_configuration/configure_a_content_management_server
  Originally built for Sitecore 8 Update 5, transforms update for other versions.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!--Disable Sitecore.ExperienceAnalytics.Reduce.config. Multiple settings removed. -->
      <setting name="ExperienceAnalytics.Reduce.DefaultKeepCountThreshold">
        <patch:delete/>
      </setting>
      <setting name="ExperienceAnalytics.Reduce.DefaultValueThreshold">
        <patch:delete/>
      </setting>
      <setting name="ExperienceAnalytics.Reduce.DefaultVisitThreshold">
        <patch:delete/>
      </setting>
      <!--Disable robots -->
      <setting name="Analytics.AutoDetectBots">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>
    <aggregation>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. Aggregator removed -->
      <aggregator>
        <patch:delete/>
      </aggregator>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. automationAggregationSubsystem removed -->
      <automationAggregationSubsystem>
        <patch:delete/>
      </automationAggregationSubsystem>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. automationAggregator removed -->
      <automationAggregator>
        <patch:delete/>
      </automationAggregator>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. automationCleanupService removed -->
      <automationCleanupService>
        <patch:delete/>
      </automationCleanupService>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. automationRangeManager removed -->
      <automationRangeManager>
        <patch:delete/>
      </automationRangeManager>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. cleanup removed -->
      <cleanup>
        <patch:delete/>
      </cleanup>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. dispatchers removed -->
      <dispatchers>
        <patch:delete/>
      </dispatchers>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. historyCompletionCheck removed -->
      <historyCompletionCheck>
        <patch:delete/>
      </historyCompletionCheck>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. historyWorker removed -->
      <historyWorker>
        <patch:delete/>
      </historyWorker>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. module removed -->
      <module>
        <patch:delete/>
      </module>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. rebuildAgent removed -->
      <rebuildAgent>
        <patch:delete/>
      </rebuildAgent>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. contactProcessing removed -->
      <contactProcessing>
        <patch:delete/>
      </contactProcessing>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. recovery removed -->
      <recovery>
        <patch:delete/>
      </recovery>
    </aggregation>
    <analyticsExcludeRobots>
      <!--Disable Sitecore.Analytics.ExcludeRobots.config. analyticsExcludeRobots block removed-->
      <patch:delete/>
    </analyticsExcludeRobots>
    <events>
      <event name="media:request">
        <!--Disable Sitecore.Analytics.Tracking.RobotDection.config. Revert MediaRequestEventHandler-->
        <handler patch:instead="*[@type='Sitecore.Analytics.RobotDetection.Media.MediaRequestEventHandler, Sitecore.Analytics.RobotDetection']"
					type="Sitecore.Analytics.Media.MediaRequestEventHandler, Sitecore.Analytics" method="OnMediaRequest"/>
      </event>
    </events>
    <experienceAnalytics>
      <!--Disable Sitecore.ExperienceAnalytics.Aggregation.config. aggregation block removed-->
      <aggregation>
        <patch:delete/>
      </aggregation>
      <!--Disable Sitecore.ExperienceAnalytics.Reduce.config. reduce block removed -->
      <reduce>
        <patch:delete/>
      </reduce>
    </experienceAnalytics>
    <hooks>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. AggregationLoader removed -->
      <hook type="Sitecore.Analytics.Aggregation.AggregationLoader, Sitecore.Analytics.Aggregation">
        <patch:delete/>
      </hook>
      <!--Disable Sitecore.Analytics.Processing.Aggregation.Services.config. SubsystemLoader removed -->
      <hook type="Sitecore.Analytics.Automation.Aggregation.SubsystemLoader, Sitecore.Analytics.Automation.Aggregation">
        <patch:delete/>
      </hook>
      <!--Disable Sitecore.Analytics.Processing.Services.config. SubsystemLoader removed -->
      <hook type="Sitecore.Analytics.Processing.ProcessingLoader, Sitecore.Analytics.Processing">
        <patch:delete/>
      </hook>
      <!--Disable Sitecore.ExperienceAnalytics.Reduce.config. SubsystemLoader removed -->
      <hook type="Sitecore.ExperienceAnalytics.Reduce.SubSystemLoader, Sitecore.ExperienceAnalytics">
        <patch:delete/>
      </hook>
      <!--Disable Sitecore.PathAnalyzer.Processing.config. SubsystemLoader removed -->
      <hook type="Sitecore.PathAnalyzer.Processing.SubsystemLoader, Sitecore.PathAnalyzer">
        <patch:delete/>
      </hook>
    </hooks>
    <pathAnalyzer>
      <!--Disable Sitecore.PathAnalyzer.Processing.config subsystem and agents removed-->
      <propertyStore>
        <patch:delete/>
      </propertyStore>
      <subsystem>
        <patch:delete/>
      </subsystem>
      <dailyMapAgent>
        <patch:delete/>
      </dailyMapAgent>
      <newMapAgent>
        <patch:delete/>
      </newMapAgent>
      <smartMergeAgent>
        <patch:delete/>
      </smartMergeAgent>
    </pathAnalyzer>
    <pipelines>
      <!--Disable Sitecore.ContentTesting.Processing.Aggregation.config. analytics.aggregation group removed-->
      <group groupName="analytics.aggregation">
        <patch:delete/>
      </group>
      <commitSession>
        <!--Disable Sitecore.Analytics.Tracking.Database.config. Multiple processors removed. -->
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.CheckPreconditions, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.UpdateGeoIpData, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.EnsureClassification, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.Robots, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.IgnoreVisitsWithoutPages, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.UpdateContactSaveMode, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.SubmitSession, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.ProcessSubscriptions, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.ReleaseSharedSession, Sitecore.Analytics">
          <patch:delete/>
        </processor>
      </commitSession>
      <initializeTracker>
        <!--Disable Sitecore.Analytics.Tracking.RobotDetection.config. Revert Robots detection-->
        <processor patch:instead="*[@type='Sitecore.Analytics.RobotDetection.Pipelines.InitializeTracker.Robots, Sitecore.Analytics.RobotDetection']"
					type="Sitecore.Analytics.Pipelines.InitializeTracker.Robots, Sitecore.Analytics"/>
      </initializeTracker>
      <postSessionEnd>
        <!--Disable Sitecore.Analytics.Tracking.Database.config. CommitSession processor removed. -->
        <processor type="Sitecore.Analytics.Pipelines.PostSessionEnd.CommitSession, Sitecore.Analytics">
          <patch:delete/>
        </processor>
      </postSessionEnd>
      <submitSessionContext>
        <!--Disable Sitecore.Analytics.Tracking.Aggregation.config. submitSessionContext pipeline removed -->
        <patch:delete/>
      </submitSessionContext>
    </pipelines>
    <processing>
      <!--Disable Sitecore.Analytics.Processing.Services.config. ProcessingModule removed -->
      <module type="Sitecore.Analytics.Processing.ProcessingModule">
        <patch:delete/>
      </module>
    </processing>
    <submitQueue>
      <!--Disable Sitecore.Analytics.Tracking.Database.config. backgroundService removed-->
      <backgroundService>
        <patch:delete/>
      </backgroundService>
    </submitQueue>
    <tracking>
      <contactManager>
        <!--Disable Sitecore.Analytics.Tracking.Database.config. contactRepository value rolled back to nullContactRepository-->
        <param desc="contactRepository">
          <patch:attribute name="ref">tracking/nullContactRepository</patch:attribute>
        </param>
      </contactManager>
    </tracking>
  </sitecore>
</configuration>
