<?xml version="1.0"?>
<!-- 
  Obtained from @AgileStCyr: https://github.com/jst-cyr/Sitecore-Role-Configs/
  
	Provides the default configuration for a processing server.
  Replaces the 'enable/disable' steps from Sitecore docs: https://doc.sitecore.net/sitecore_experience_platform/80/xdb_configuration/configure_a_processing_server
  Originally built for Sitecore 8 Update 5, transforms update for other versions.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!--Disable Sitecore.ExperienceAnalytics.WebAPI.config. Multiple settings removed. -->
      <setting name="ExperienceAnalytics.Api.CacheExpiration">
        <patch:delete/>
      </setting>
      <setting name="ExperienceAnalytics.Api.KeysTopDefault">
        <patch:delete/>
      </setting>
      <setting name="ExperienceAnalytics.Api.MasterDatabase">
        <patch:delete/>
      </setting>
      <!--Disable Sitecore.ListManagement.config. Multiple settings removed. -->
      <setting name="ListManagement.ContactListIndexName">
        <patch:delete/>
      </setting>
      <setting name="ListManagement.ContactListTemplateId">
        <patch:delete/>
      </setting>
      <setting name="ListManagement.ContactsIndexName">
        <patch:delete/>
      </setting>
      <setting name="ListManagement.Database">
        <patch:delete/>
      </setting>
      <setting name="ListManagement.ListFolderTemplateId">
        <patch:delete/>
      </setting>
      <setting name="ListManagement.ListsRootId">
        <patch:delete/>
      </setting>
      <setting name="ListManagement.SegmentedListTemplateId">
        <patch:delete/>
      </setting>
      <!--Disable Sitecore.Social.config. Multiple settings removed. -->
      <setting name="Social.AccountRenewal.DaysBeforePreExpiration">
        <patch:delete/>
      </setting>
      <setting name="Social.AccountRenewal.Enabled">
        <patch:delete/>
      </setting>
      <setting name="Social.AddNetworkAccountWizard.AuthenticationTimeout">
        <patch:delete/>
      </setting>
      <setting name="Social.AllowMessageGoalPostingByDefault">
        <patch:delete/>
      </setting>
      <setting name="Social.ConnectorAuthCompletedType">
        <patch:delete/>
      </setting>
      <setting name="Social.FibonacciRefreshStrategy.StopRefreshAge">
        <patch:delete/>
      </setting>
      <setting name="Social.IoC.AssemblyFullName">
        <patch:delete/>
      </setting>
      <setting name="Social.LinkDomain">
        <patch:delete/>
      </setting>
      <setting name="Social.Logging.TraceToLog">
        <patch:delete/>
      </setting>
      <setting name="Social.MessageBaseTemplateId">
        <patch:delete/>
      </setting>
      <setting name="Social.MessagesByContainerCache.Enabled">
        <patch:delete/>
      </setting>
      <setting name="Social.MessagesByContainerCache.Name">
        <patch:delete/>
      </setting>
      <setting name="Social.MessagesByContainerCache.Size">
        <patch:delete/>
      </setting>
      <setting name="Social.MessagesRootPath">
        <patch:delete/>
      </setting>
      <setting name="Social.Messages.SearchIndex.Master">
        <patch:delete/>
      </setting>
      <setting name="Social.Messages.SearchIndex.Web">
        <patch:delete/>
      </setting>
      <setting name="Social.PostingConfigurationBaseTemplateId">
        <patch:delete/>
      </setting>
      <setting name="Social.Profile.ContactLeaseDuration">
        <patch:delete/>
      </setting>
      <setting name="Social.ProfileUpdating.DaysBeforeExpiration">
        <patch:delete/>
      </setting>
      <setting name="Social.ProfileUpdating.Enabled">
        <patch:delete/>
      </setting>
      <!--Disable Sitecore.Social.ExperienceProfile.config. Multiple settings removed. -->
      <setting name="Social.ExperienceProfile.GooglePlusRecentActivityPostsCount">
        <patch:delete/>
      </setting>
      <setting name="Social.ExperienceProfile.TwitterRecentActivityTweetsCount">
        <patch:delete/>
      </setting>
      <setting name="Social.ExperienceProfile.TwitterWidgetId">
        <patch:delete/>
      </setting>
      <!--Disable Sitecore.Social.Facebook.config. Multiple settings removed-->
      <setting name="Social.Facebook.DefaultLikeGoal">
        <patch:delete/>
      </setting>
      <setting name="Social.Facebook.HasWriteAccess">
        <patch:delete/>
      </setting>
      <setting name="Social.Facebook.IsOfflineAccess">
        <patch:delete/>
      </setting>
      <!--Disable Sitecore.Social.GooglePlus.config. Multiple settings removed-->
      <setting name="Social.Google.DefaultGooglePlusOneGoal">
        <patch:delete/>
      </setting>
      <setting name="Social.Google.IsOfflineAccess">
        <patch:delete/>
      </setting>
      <!--Disable Sitecore.Social.LinkedIn.config. DefaultLinkedInShareGoal setting removed-->
      <setting name="Social.LinkedIn.DefaultLinkedInShareGoal">
        <patch:delete/>
      </setting>
      <!--Disable Sitecore.Social.Twitter.config. DefaultTweetGoal setting removed-->
      <setting name="Social.Twitter.DefaultTweetGoal">
        <patch:delete/>
      </setting>
      <!--Disable Sitecore.WebDAV.config. Multiple settings removed. -->
      <setting name="WebDAV.AssociateUsernameWithLink">
        <patch:delete/>
      </setting>
      <setting name="WebDAV.Enabled">
        <patch:delete/>
      </setting>
      <setting name="WebDAV.EngineLogLevel">
        <patch:delete/>
      </setting>
      <setting name="WebDAV.FileDropAreaMediaLocation">
        <patch:delete/>
      </setting>
      <setting name="WebDAV.Folder">
        <patch:delete/>
      </setting>
      <setting name="WebDAV.LicenseFile">
        <patch:delete/>
      </setting>
      <setting name="WebDAV.MediaHandlerName">
        <patch:delete/>
      </setting>
      <setting name="WebDAV.PromptWhenUsernameUnknown">
        <patch:delete/>
      </setting>
      <setting name="WebDAV.URLDisplayName">
        <patch:delete/>
      </setting>
      <setting name="WebDAV.UseShortURL">
        <patch:delete/>
      </setting>
    </settings>
    <aggregation>
      <reportingStorageProviders>
        <primary>
          <storageProviders>
            <!-- Disable Sitecore.PathAnalyzer.StorageProviders.config. treeDefinitions provider removed. -->
            <treeDefinitions>
              <patch:delete/>
            </treeDefinitions>
            <!-- Disable Sitecore.ExperienceAnalytics.StorageProviders.config. segments provider removed. -->
            <segments>
              <patch:delete/>
            </segments>
          </storageProviders>
        </primary>
        <secondary.live>
          <storageProviders>
            <!-- Disable Sitecore.PathAnalyzer.StorageProviders.config. treeDefinitions provider removed. -->
            <treeDefinitions>
              <patch:delete/>
            </treeDefinitions>
            <!-- Disable Sitecore.ExperienceAnalytics.StorageProviders.config. segments provider removed. -->
            <segments>
              <patch:delete/>
            </segments>
          </storageProviders>
        </secondary.live>
        <secondary.history>
          <storageProviders>
            <!-- Disable Sitecore.PathAnalyzer.StorageProviders.config. treeDefinitions provider removed. -->
            <treeDefinitions>
              <patch:delete/>
            </treeDefinitions>
            <!-- Disable Sitecore.ExperienceAnalytics.StorageProviders.config. segments provider removed. -->
            <segments>
              <patch:delete/>
            </segments>
          </storageProviders>
        </secondary.history>
      </reportingStorageProviders>
    </aggregation>
    <api>
      <services>
        <configuration>
          <allowedControllers>
            <!--Disable Sitecore.PathAnalyzer.Services.config. Multiple controllers removed.-->
            <allowedController desc="PA_ExplorerController">
              <patch:delete/>
            </allowedController>
            <allowedController desc="PA_PathsController">
              <patch:delete/>
            </allowedController>
            <allowedController desc="PA_TreeController">
              <patch:delete/>
            </allowedController>
            <allowedController desc="PA_ContactsByPathController">
              <patch:delete/>
            </allowedController>
            <!--Disable Sitecore.ListManagement.Services.config. Multiple controllers removed.-->
            <allowedController desc="ActionsController">
              <patch:delete/>
            </allowedController>
            <allowedController desc="ContactListController">
              <patch:delete/>
            </allowedController>
            <allowedController desc="ContactsController">
              <patch:delete/>
            </allowedController>
            <allowedController desc="ImportController">
              <patch:delete/>
            </allowedController>
            <allowedController desc="SecurityController">
              <patch:delete/>
            </allowedController>
            <allowedController desc="SegmentedListController">
              <patch:delete/>
            </allowedController>
            <allowedController desc="ListLockingController">
              <patch:delete/>
            </allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
    <!--Disable Sitecore.Analytics.Automation.TimeoutProcessing.config. automationWorker section removed. -->
    <automationWorker>
      <patch:delete/>
    </automationWorker>
    <commands>
      <!--Disable Sitecore.Marketing.Client.config. marketing:asset:deploy and marketing:opendeploydefinitionsdialog commands removed -->
      <command name="marketing:asset:deploy">
        <patch:delete/>
      </command>
      <command name="marketing:opendeploydefinitionsdialog">
        <patch:delete/>
      </command>
      <!--Disable Sitecore.PathAnalyzer.Client.config. pathanalyzer:open-page-analyzer command removed -->
      <command name="pathanalyzer:open-page-analyzer">
        <patch:delete/>
      </command>
      <!--Disable Sitecore.Social.config. Multiple commands removed-->
      <command name="social:account:add">
        <patch:delete/>
      </command>
      <command name="social:account:renew">
        <patch:delete/>
      </command>
      <command name="social:dialog:show">
        <patch:delete/>
      </command>
      <command name="social:message:delete">
        <patch:delete/>
      </command>
      <command name="social:message:edit">
        <patch:delete/>
      </command>
      <command name="social:message:executeWorkflowCommand">
        <patch:delete/>
      </command>
      <command name="social:message:new">
        <patch:delete/>
      </command>
      <command name="social:message:post">
        <patch:delete/>
      </command>
      <command name="social:socialmarketeraccount:add">
        <patch:delete/>
      </command>
      <!--Disable Sitecore.Social.Facebook.config. AddFacebookAccount command removed-->
      <command name="social:facebook:account:add">
        <patch:delete/>
      </command>
    </commands>
    <!-- Disable Sitecore.ListManagement.config. contactListManager removed-->
    <contactListManager>
      <patch:delete/>
    </contactListManager>
    <!-- Disable Sitecore.ListManagement.config. contactListStore removed-->
    <contactListStore>
      <patch:delete/>
    </contactListStore>
    <contentSearch>
      <indexConfigurations>
        <indexUpdateStrategies>
          <!-- Processing configuration: Remove strategies using 'web' database-->
          <onPublishEndAsync>
            <patch:delete/>
          </onPublishEndAsync>
        </indexUpdateStrategies>
      </indexConfigurations>
    </contentSearch>
    <controllers>
      <!--Disable Sitecore.PathAnalyzer.Services.config. Multiple controllers removed.-->
      <controller type="Sitecore.PathAnalyzer.Services.Controllers.PathsController, Sitecore.PathAnalyzer.Services">
        <patch:delete/>
      </controller>
      <controller type="Sitecore.PathAnalyzer.Services.Controllers.ContactsByPathController, Sitecore.PathAnalyzer.Services">
        <patch:delete/>
      </controller>
      <controller type="Sitecore.PathAnalyzer.Services.Controllers.TreeController, Sitecore.PathAnalyzer.Services">
        <patch:delete/>
      </controller>
      <controller type="Sitecore.PathAnalyzer.Services.PathExplorer.Controllers.ExplorerController, Sitecore.PathAnalyzer.Services">
        <patch:delete/>
      </controller>
    </controllers>
    <controlSources>
      <!--Disable Sitecore.Social.config. Social source removed -->
      <source mode="on" namespace="Sitecore.Social.Client" folder="/sitecore/shell/applications/social/wizards/AddNetworkAccount" deep="true">
        <patch:delete/>
      </source>
    </controlSources>
    <!-- Disable Sitecore.ListManagement.config. csvReader removed-->
    <csvReader>
      <patch:delete/>
    </csvReader>
    <customHandlers>
      <!--Disable Sitecore.WebDAV.config. WebDAV requests handler removed -->
      <handler trigger="$(webDAVPrefix)">
        <patch:delete/>
      </handler>
    </customHandlers>
    <databases>
      <!-- Processing configuration: Remove web database -->
      <database id="web">
        <patch:delete/>
      </database>
    </databases>
    <events>
      <event name="media:request">
        <!--Disable Sitecore.Analytics.Tracking.config and Sitecore.Analytics.Tracking.RobotDetection.config. MediaRequestEventHandler removed -->
        <handler type="Sitecore.Analytics.RobotDetection.Media.MediaRequestEventHandler, Sitecore.Analytics.RobotDetection" method="OnMediaRequest">
          <patch:delete/>
        </handler>
      </event>
      <event name="publish:itemProcessed">
        <!--Disable Sitecore.Social.config. ItemPublishedHandler removed -->
        <handler type="Sitecore.Social.Client.MessagePosting.Handlers.ItemPublishedHandler, Sitecore.Social.Client" method="PostSocialMessages">
          <patch:delete/>
        </handler>
      </event>
      <event name="publish:end">
        <!--Disable Sitecore.Social.config. PublishEndHandler removed -->
        <handler type="Sitecore.Social.Client.MessagePosting.Handlers.PublishEndHandler, Sitecore.Social.Client" method="ClearDbMesageCache">
          <patch:delete/>
        </handler>
      </event>
      <event name="user:deleted">
        <!--Disable Sitecore.Social.config. DeleteUserHandler removed -->
        <handler type="Sitecore.Social.Client.Connector.Handlers.DeleteUserHandler, Sitecore.Social.Client" method="OnUserDeleted">
          <patch:delete/>
        </handler>
      </event>
      <!--Disable Sitecore.Social.config. Multiple events removed.-->
      <event name="social:connector:user:created">
        <patch:delete/>
      </event>
      <event name="social:connector:user:loggedin">
        <patch:delete/>
      </event>
      <event name="social:connector:user:socialprofileattached">
        <patch:delete/>
      </event>
      <event name="social:message:created">
        <patch:delete/>
      </event>
      <event name="social:message:deleted">
        <patch:delete/>
      </event>
      <event name="social:message:updated">
        <patch:delete/>
      </event>
    </events>
    <experienceAnalytics>
      <!-- Disable Sitecore.ExperienceAnalytics.WebAPI.config. API removed-->
      <api>
        <patch:delete/>
      </api>
      <!-- Disable Sitecore.ExperienceAnalytics.Client.config. Client removed. -->
      <client>
        <patch:delete/>
      </client>
      <!-- Disable Sitecore.ExperienceAnalytics.StorageProviders.config. primary and secondary segment storage providers removed. -->
      <primarySegmentStorageProvider>
        <patch:delete/>
      </primarySegmentStorageProvider>
      <secondarySegmentStorageProvider>
        <patch:delete/>
      </secondarySegmentStorageProvider>
    </experienceAnalytics>
    <!-- Disable Sitecore.ExperienceProfile.config and Sitecore.ExperienceProfile.Client.config. experienceProfile removed-->
    <experienceProfile>
      <patch:delete/>
    </experienceProfile>
    <fieldTypes>
      <!--Disable Sitecore.Social.config. Social field types removed.-->
      <fieldType name="Accounts Multilist">
        <patch:delete/>
      </fieldType>
      <fieldType name="Campaign Tree">
        <patch:delete/>
      </fieldType>
      <fieldType name="Countable Edit">
        <patch:delete/>
      </fieldType>
    </fieldTypes>
    <!-- Disable Sitecore.ListManagement.config. lockRepository removed-->
    <lockRepository>
      <patch:delete/>
    </lockRepository>
    <marketingDefinitions>
      <asset>
        <definitionManager>
          <!--Processing configuration: Point repository to rdb-->
          <param desc="repository">
            <patch:attribute name="ref">marketingDefinitions/asset/repositories/rdb</patch:attribute>
          </param>
        </definitionManager>
      </asset>
      <campaign>
        <definitionManager>
          <!--Processing configuration: Point repository to rdb-->
          <param desc="repository">
            <patch:attribute name="ref">marketingDefinitions/campaign/repositories/rdb</patch:attribute>
          </param>
        </definitionManager>
      </campaign>
      <goal>
        <definitionManager>
          <!--Processing configuration: Point repository to rdb-->
          <param desc="repository">
            <patch:attribute name="ref">marketingDefinitions/goal/repositories/rdb</patch:attribute>
          </param>
        </definitionManager>
      </goal>
      <outcome>
        <definitionManager>
          <!--Processing configuration: Point repository to rdb-->
          <param desc="repository">
            <patch:attribute name="ref">marketingDefinitions/outcome/repositories/rdb</patch:attribute>
          </param>
        </definitionManager>
      </outcome>
    </marketingDefinitions>
    <mediaLibrary>
      <mediaPrefixes>
        <!-- Disable Sitecore.WebDAV.config. WebDAV prefix removed -->
        <prefix value="$(webDAVPrefix)">
          <patch:delete/>
        </prefix>
      </mediaPrefixes>
    </mediaLibrary>
    <model>
      <elements>
        <!--Disable Sitecore.Social.config. Multiple elements removed.-->
        <element interface="Sitecore.Social.Connector.Facets.Contact.SocialProfile.ISocialProfileFacet, Sitecore.Social"
					implementation="Sitecore.Social.Connector.Facets.Contact.SocialProfile.SocialProfileFacet, Sitecore.Social">
          <patch:delete/>
        </element>
        <element interface="Sitecore.Social.Connector.Facets.Contact.SocialProfile.INetworkElement, Sitecore.Social"
					implementation="Sitecore.Social.Connector.Facets.Contact.SocialProfile.NetworkElement, Sitecore.Social">
          <patch:delete/>
        </element>
        <element interface="Sitecore.Social.Connector.Facets.Contact.SocialProfile.IFieldElement, Sitecore.Social"
					implementation="Sitecore.Social.Connector.Facets.Contact.SocialProfile.FieldElement, Sitecore.Social">
          <patch:delete/>
        </element>
      </elements>
      <entities>
        <contact>
          <facets>
            <!--Disable Sitecore.Social.config. SocialProfile facet removed.-->
            <facet name="SocialProfile">
              <patch:delete/>
            </facet>
          </facets>
        </contact>
      </entities>
    </model>
    <pathAnalyzer>
      <!-- Disable Sitecore.PathAnalyzer.StorageProviders.config. definitionStorageProviders removed. -->
      <definitionStorageProviders>
        <patch:delete/>
      </definitionStorageProviders>
      <!--Disable PathAnalyzer.Services.config. treeManager removed. -->
      <treeManager>
        <patch:delete/>
      </treeManager>
    </pathAnalyzer>
    <pipelines>
      <!--Disable Sitecore.Analytics.Tracking.config. Multiple pipelines removed. -->
      <commitSession>
        <patch:delete/>
      </commitSession>
      <createTracker>
        <patch:delete/>
      </createTracker>
      <createVisit>
        <patch:delete/>
      </createVisit>
      <deployDefinition>
        <!-- Disable Sitecore.ExperienceAnalytics.Client.config. DeploySegmentDefinition removed-->
        <processor type="Sitecore.ExperienceAnalytics.Client.Workflow.DeploySegmentDefinition, Sitecore.ExperienceAnalytics.Client">
          <patch:delete/>
        </processor>
      </deployDefinition>
      <determineInteractionChannel>
        <!--Disable Sitecore.Social.config. SocialChannels processor removed.-->
        <processor type="Sitecore.Social.Analytics.Pipelines.DetermineInteractionChannel.SocialChannels, Sitecore.Social">
          <patch:delete/>
        </processor>
      </determineInteractionChannel>
      <endAnalytics>
        <patch:delete/>
      </endAnalytics>
      <ensureClassification>
        <patch:delete/>
      </ensureClassification>
      <ensureSessionContext>
        <patch:delete/>
      </ensureSessionContext>
      <excludeRobots>
        <patch:delete/>
      </excludeRobots>
      <getContentEditorWarnings>
        <!--Disable PathAnalyzer.Client.config. TreeDefinitionDeployment and StartDateNotDefined processors removed. -->
        <processor type="Sitecore.PathAnalyzer.Client.Pipelines.GetContentEditorWarnings.TreeDefinitionDeployment,Sitecore.PathAnalyzer.Client">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.PathAnalyzer.Client.Pipelines.GetContentEditorWarnings.StartDateNotDefined,Sitecore.PathAnalyzer.Client">
          <patch:delete/>
        </processor>
      </getContentEditorWarnings>
      <getExperienceEditorRibbon>
        <!-- Disable Sitecore.FXM.Speak.config. AddFxmEditRibbon processor removed.-->
        <processor type="Sitecore.FXM.Speak.Ribbon.GetExperienceEditorRibbon.AddFxmEditRibbon, Sitecore.FXM.Speak">
          <patch:delete/>
        </processor>
      </getExperienceEditorRibbon>
      <getLookupSourceItems>
        <!--Disable Sitecore.Social.config. GetAccountsDataSource processor removed.-->
        <processor type="Sitecore.Social.Client.Pipelines.GetLookupSourceItems.GetAccountsDataSource, Sitecore.Social.Client">
          <patch:delete/>
        </processor>
      </getLookupSourceItems>
      <group groupName="analytics.bulk.contact">
        <pipelines>
          <updateFields>
            <!--Disable Sitecore.ListManagement.config. Multiple processors removed. -->
            <processor type="Sitecore.ListManagement.Analytics.Data.Bulk.Contact.Pipelines.UpdateFields.UpdatePersonalInfo, Sitecore.ListManagement.Analytics">
              <patch:delete/>
            </processor>
            <processor type="Sitecore.ListManagement.Analytics.Data.Bulk.Contact.Pipelines.UpdateFields.UpdateEmails, Sitecore.ListManagement.Analytics">
              <patch:delete/>
            </processor>
            <processor type="Sitecore.ListManagement.Analytics.Data.Bulk.Contact.Pipelines.UpdateFields.ImportContactsTagsUpdateFieldsProcessor, Sitecore.ListManagement.Analytics">
              <patch:delete/>
            </processor>
            <processor type="Sitecore.ListManagement.Analytics.Data.Bulk.Contact.Pipelines.UpdateFields.ProcessContactsUpdateContactTags, Sitecore.ListManagement.Analytics">
              <patch:delete/>
            </processor>
            <processor type="Sitecore.ListManagement.Analytics.Data.Bulk.Contact.Pipelines.UpdateFields.ProcessContactsRemoveContactTags, Sitecore.ListManagement.Analytics">
              <patch:delete/>
            </processor>
          </updateFields>
        </pipelines>
      </group>
      <!--Disable Sitecore.ExperienceProfile.Reporting.config. ExperienceProfileContactViews, ExperienceProfileContactDataSourceQueries, and ExperienceProfileAggregateViews groups removed-->
      <group groupName="ExperienceProfileContactViews">
        <patch:delete/>
      </group>
      <group groupName="ExperienceProfileContactDataSourceQueries">
        <patch:delete/>
      </group>
      <group groupName="ExperienceProfileAggregateViews">
        <patch:delete/>
      </group>
      <!--Disable Sitecore.WebDAV.config. WebDAV group removed. -->
      <group groupName="WebDAV" name="WebDAV">
        <patch:delete/>
      </group>
      <httpRequestEnd>
        <!--Disable Sitecore.Analytics.Tracking.config. EndAnalytics processor removed. -->
        <processor type="Sitecore.Analytics.Pipelines.HttpRequest.EndAnalytics, Sitecore.Analytics">
          <patch:delete/>
        </processor>
      </httpRequestEnd>
      <httpRequestProcessed>
        <!--Disable Sitecore.Analytics.Tracking.config. EndAnalytics processor removed. -->
        <processor type="Sitecore.Analytics.Pipelines.HttpRequest.EndAnalytics, Sitecore.Analytics">
          <patch:delete/>
        </processor>
      </httpRequestProcessed>
      <initialize>
        <!--Disable Sitecore.Analytics.Automation.TimeoutProcessing.config. InitializeAutomation processor removed -->
        <processor type="Sitecore.Analytics.Pipelines.Loader.InitializeAutomation,Sitecore.Analytics.Automation">
          <patch:delete/>
        </processor>
        <!--Disable Sitecore.Analytics.Tracking.config. InitializeAnalytics processor removed -->
        <processor type="Sitecore.Analytics.Pipelines.Loader.InitializeAnalytics, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <!--Disable Sitecore.WebDAV.config. WebDAV requests handler removed -->
        <processor type="Sitecore.Pipelines.Loader.CheckWebDAVConfiguration, Sitecore.Kernel">
          <patch:delete/>
        </processor>
        <!-- Disable Sitecore.ExperienceProfile.Client.config. InitializeRoutes removed-->
        <processor type="Sitecore.Cintel.Client.Initialization.InitializeRoutes, Sitecore.Cintel.Client">
          <patch:delete/>
        </processor>
        <!-- Disable Sitecore.ExperienceProfile.config. InitializeRoutes removed-->
        <processor type="Sitecore.Cintel.Endpoint.Plumbing.InitializeRoutes, Sitecore.Cintel">
          <patch:delete/>
        </processor>
        <!-- Disable Sitecore.ExperienceAnalytics.Client.config. SegmentInitializer removed-->
        <processor type="Sitecore.ExperienceAnalytics.Client.SegmentInitializer, Sitecore.ExperienceAnalytics.Client">
          <patch:delete/>
        </processor>
        <!-- Disable Sitecore.ExperienceAnalytics.WebAPI.config. WebApiInitializer removed-->
        <processor type="Sitecore.ExperienceAnalytics.Api.Pipelines.Initialize.WebApiInitializer, Sitecore.ExperienceAnalytics">
          <patch:delete/>
        </processor>
        <!-- Disable Sitecore.ListManagement.Services.config. RegisterHttpRoutes removed-->
        <processor type="Sitecore.ListManagement.Services.Pipelines.Initialize.RegisterHttpRoutes, Sitecore.ListManagement.Services">
          <patch:delete/>
        </processor>
        <!--Disable Sitecore.PathAnalyzer.Services.config. Multiple processors removed.-->
        <processor type="Sitecore.PathAnalyzer.Services.Pipelines.Initialize.RegisterHttpRoutes, Sitecore.PathAnalyzer.Services">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.PathAnalyzer.Services.Pipelines.Initialize.RegisterFormatters, Sitecore.PathAnalyzer.Services">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.PathAnalyzer.Services.Pipelines.Initialize.RegisterFilters, Sitecore.PathAnalyzer.Services">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.PathAnalyzer.Services.Pipelines.Initialize.RegisterModelBinding, Sitecore.PathAnalyzer.Services">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.PathAnalyzer.Services.Pipelines.Initialize.RegisterHttpControllerActivator, Sitecore.PathAnalyzer.Services">
          <patch:delete/>
        </processor>
        <!--Disable Sitecore.WebDAV.config. WebDAV requests handler removed -->
        <processor type="Sitecore.Pipelines.Loader.CheckWebDAVConfiguration, Sitecore.Kernel">
          <patch:delete/>
        </processor>
        <!--Disable Sitecore.Social.config. RegisterSocialArea processor removed.-->
        <processor type="Sitecore.Social.Client.Mvc.Pipelines.Initialize.RegisterSocialArea, Sitecore.Social.Client.Mvc">
          <patch:delete/>
        </processor>
        <!--Disable Sitecore.Social.config. RemoteEventMap processor removed.-->
        <processor type="Sitecore.Social.Client.Pipelines.Initialize.RemoteEventMap, Sitecore.Social.Client">
          <patch:delete/>
        </processor>
      </initialize>
      <!--Disable Sitecore.Analytics.Tracking.config. initializeTracker pipeline removed. -->
      <initializeTracker>
        <patch:delete/>
      </initializeTracker>
      <!-- Disable Sitecore.ListManagement.config. Multiple pipelines removed.-->
      <listManagement.areListSourcesChanged>
        <patch:delete/>
      </listManagement.areListSourcesChanged>
      <listManagement.associateContacts>
        <patch:delete/>
      </listManagement.associateContacts>
      <listManagement.checkSecurity>
        <patch:delete/>
      </listManagement.checkSecurity>
      <listManagement.clearSources>
        <patch:delete/>
      </listManagement.clearSources>
      <listManagement.convertList>
        <patch:delete/>
      </listManagement.convertList>
      <listManagement.createFolder>
        <patch:delete/>
      </listManagement.createFolder>
      <listManagement.createList>
        <patch:delete/>
      </listManagement.createList>
      <listManagement.createListFromCsv>
        <patch:delete/>
      </listManagement.createListFromCsv>
      <listManagement.deleteFolder>
        <patch:delete/>
      </listManagement.deleteFolder>
      <listManagement.deleteList>
        <patch:delete/>
      </listManagement.deleteList>
      <listManagement.exportContacts>
        <patch:delete/>
      </listManagement.exportContacts>
      <listManagement.findListById>
        <patch:delete/>
      </listManagement.findListById>
      <listManagement.getAllLists>
        <patch:delete/>
      </listManagement.getAllLists>
      <listManagement.getAssociatedContacts>
        <patch:delete/>
      </listManagement.getAssociatedContacts>
      <listManagement.getContacts>
        <patch:delete/>
      </listManagement.getContacts>
      <listManagement.getListSources>
        <patch:delete/>
      </listManagement.getListSources>
      <listManagement.getLock>
        <patch:delete/>
      </listManagement.getLock>
      <listManagement.getLockedLists>
        <patch:delete/>
      </listManagement.getLockedLists>
      <listManagement.getOutOfListUse>
        <patch:delete/>
      </listManagement.getOutOfListUse>
      <listManagement.getSegmentedListContacts>
        <patch:delete/>
      </listManagement.getSegmentedListContacts>
      <listManagement.getUseLock>
        <patch:delete/>
      </listManagement.getUseLock>
      <listManagement.importMediaContacts>
        <patch:delete/>
      </listManagement.importMediaContacts>
      <listManagement.isListInUse>
        <patch:delete/>
      </listManagement.isListInUse>
      <listManagement.isListLocked>
        <patch:delete/>
      </listManagement.isListLocked>
      <listManagement.lockList>
        <patch:delete/>
      </listManagement.lockList>
      <listManagement.moveFolder>
        <patch:delete/>
      </listManagement.moveFolder>
      <listManagement.moveList>
        <patch:delete/>
      </listManagement.moveList>
      <listManagement.removeContactAssociations>
        <patch:delete/>
      </listManagement.removeContactAssociations>
      <listManagement.removeDuplicates>
        <patch:delete/>
      </listManagement.removeDuplicates>
      <listManagement.removeMedia>
        <patch:delete/>
      </listManagement.removeMedia>
      <listManagement.renameFolder>
        <patch:delete/>
      </listManagement.renameFolder>
      <listManagement.setListInUse>
        <patch:delete/>
      </listManagement.setListInUse>
      <listManagement.unlockList>
        <patch:delete/>
      </listManagement.unlockList>
      <listManagement.updateContactAssociations>
        <patch:delete/>
      </listManagement.updateContactAssociations>
      <listManagement.updateList>
        <patch:delete/>
      </listManagement.updateList>
      <listManagement.updateSource>
        <patch:delete/>
      </listManagement.updateSource>
      <postSessionEnd>
        <!--Disable Sitecore.Analytics.Tracking.Database.config. CommitSession processor removed-->
        <processor type="Sitecore.Analytics.Pipelines.PostSessionEnd.CommitSession, Sitecore.Analytics">
          <patch:delete/>
        </processor>
      </postSessionEnd>
      <preprocessRequest>
        <!--Disable Sitecore.WebDAV.config. WebDAV requests handler removed -->
        <processor type="Sitecore.Pipelines.PreprocessRequest.WebDAVCustomHandler, Sitecore.Kernel">
          <patch:delete/>
        </processor>
      </preprocessRequest>
      <!--Disable Sitecore.Analytics.Tracking.config. registerPageEvent pipeline removed -->
      <registerPageEvent>
        <patch:delete/>
      </registerPageEvent>
      <registerReportingDataSource>
        <processor type="Sitecore.Analytics.Pipelines.RegisterReportingDataSource.RegisterReportingDataSourceProcessor, Sitecore.Analytics">
          <!--Disable Sitecore.ExperienceProfile.config. datasources removed.-->
          <datasources>
            <patch:delete/>
          </datasources>
        </processor>
      </registerReportingDataSource>
      <renderLayout>
        <!--Disable Sitecore.Analytics.Tracking.config. StartAnalytics processor removed -->
        <processor type="Sitecore.Analytics.Pipelines.HttpRequest.StartAnalytics, Sitecore.Analytics">
          <patch:delete/>
        </processor>
      </renderLayout>
      <sessionEnd>
        <!--Disable Sitecore.Analytics.Tracking.config. InitializeTracker processor removed -->
        <processor type="Sitecore.Analytics.Pipelines.SessionEnd.InitializeTracker, Sitecore.Analytics">
          <patch:delete/>
        </processor>
      </sessionEnd>
      <!--Disable Sitecore.Social.config. Multiple pipelines removed.-->
      <social.createMessage>
        <patch:delete/>
      </social.createMessage>
      <social.buildMessage>
        <patch:delete/>
      </social.buildMessage>
      <social.matchUser>
        <patch:delete/>
      </social.matchUser>
      <social.initializeApi>
        <patch:delete/>
      </social.initializeApi>
      <social.readMessage>
        <patch:delete/>
      </social.readMessage>
      <social.postMessage>
        <patch:delete/>
      </social.postMessage>
      <speak.client.resolveScript>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
          <sources>
            <!--Disable Sitecore.Marketing.Client.config. DeployMarketingDefinitions source removed -->
            <source folder="/sitecore/shell/client/Applications/Marketing/Utilities/DeployMarketingDefinitions" deep="true" category="deploymarketingdefinitions"
							pattern="*.js,*.css">
              <patch:delete/>
            </source>
            <!--Disable Sitecore.PathAnalyzer.Client.config. PathAnalyzer source removed -->
            <source folder="/sitecore/shell/client/Applications/PathAnalyzer" deep="true" category="pathanalyzer" pattern="*.js,*.css">
              <patch:delete/>
            </source>
            <!--Disable Sitecore.ExperienceProfile.Client.config. experienceprofile and cistubs sources removed -->
            <source folder="/sitecore/shell/client/Applications/ExperienceProfile" deep="true" category="experienceprofile" pattern="*.js">
              <patch:delete/>
            </source>
            <source folder="/sitecore/shell/client/Applications/ExperienceProfile" deep="true" category="cistubs" pattern="*.json">
              <patch:delete/>
            </source>
            <!--Disable Sitecore.FXM.Speak.config. FXM source removed-->
            <source folder="/sitecore/shell/client/Applications/FXM/" deep="true" category="FXM" pattern="*.js,*.css">
              <patch:delete/>
            </source>
            <!--Disable Sitecore.ListManagement.Client.config. listmanager source removed-->
            <source folder="/sitecore/shell/client/Applications/ListManager" deep="true" category="listmanager" pattern="*.js,*.css">
              <patch:delete/>
            </source>
          </sources>
        </processor>
      </speak.client.resolveScript>
      <!--Disable Sitecore.Analytics.Tracking.config. startAnalytics pipeline removed -->
      <startAnalytics>
        <patch:delete/>
      </startAnalytics>
      <!--Disable Sitecore.Analytics.Tracking.config. startTracking pipeline removed -->
      <startTracking>
        <patch:delete/>
      </startTracking>
      <submitSessionContext>
        <!--Disable Sitecore.Analytics.Tracking.Database.config. SaveDevice,SaveClassificationsMap, and SaveVisit processors removed-->
        <processor type="Sitecore.Analytics.Pipelines.SubmitSessionContext.SaveDevice, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.SubmitSessionContext.SaveClassificationsMap, Sitecore.Analytics">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.SubmitSessionContext.SaveVisit, Sitecore.Analytics">
          <patch:delete/>
        </processor>
      </submitSessionContext>
      <!--Disable Sitecore.Analytics.Tracking.config. transferSession pipeline removed -->
      <transferSession>
        <patch:delete/>
      </transferSession>
    </pipelines>
    <!-- Disable Sitecore.ListManagement.config. processContactsDataProvider removed-->
    <processContactsDataProvider>
      <patch:delete/>
    </processContactsDataProvider>
    <processors>
      <loggedin>
        <!--Disable Sitecore.Social.config. UpdateUserProfile processor removed.-->
        <processor type="Sitecore.Social.Client.Pipelines.LoggedIn.UpdateUserProfile, Sitecore.Social.Client">
          <patch:delete/>
        </processor>
      </loggedin>
    </processors>
    <reporting>
      <dataProvider>
        <!-- Disable Sitecore.ExperienceAnalytics.WebAPI.config. cacheEnabled reverted to 'false' -->
        <patch:attribute name="cacheEnabled">false</patch:attribute>
      </dataProvider>
    </reporting>
    <!-- Disable Sitecore.ListManagement.config. ruleEngine removed-->
    <ruleEngine>
      <patch:delete/>
    </ruleEngine>
    <scheduling>
      <!-- Processing config: Remove default agents -->
      <agent type="Sitecore.Tasks.UrlAgent">
        <patch:delete/>
      </agent>
      <agent type="Sitecore.Tasks.TaskDatabaseAgent">
        <patch:delete/>
      </agent>
      <agent type="Sitecore.Tasks.CompactClientDataAgent">
        <patch:delete/>
      </agent>
      <agent type="Sitecore.Tasks.CleanupHistory">
        <patch:delete/>
      </agent>
      <agent type="Sitecore.Tasks.CleanupPublishQueue, Sitecore.Kernel">
        <patch:delete/>
      </agent>
      <agent type="Sitecore.Tasks.CleanupEventQueue, Sitecore.Kernel">
        <patch:delete/>
      </agent>
      <agent type="Sitecore.Tasks.HtmlCacheClearAgent">
        <patch:delete/>
      </agent>
      <agent type="Sitecore.Tasks.CleanupAuthenticationTicketsAgent">
        <patch:delete/>
      </agent>
      <agent type="Sitecore.Tasks.PublishAgent">
        <patch:delete/>
      </agent>
      <agent type="Sitecore.Tasks.CleanupAgent">
        <patch:delete/>
      </agent>
      <agent type="Sitecore.Tasks.CounterDumpAgent">
        <patch:delete/>
      </agent>
      <agent type="Sitecore.Tasks.CloneNotificationsCleanupAgent">
        <patch:delete/>
      </agent>
      <!--Disable Sitecore.ListManagement.config. UnlockContactListsAgent removed -->
      <agent type="Sitecore.ListManagement.Analytics.UnlockContactListsAgent, Sitecore.ListManagement.Analytics">
        <patch:delete/>
      </agent>
      <!--Disable Sitecore.Social.config. ManagePreExpiredAccounts removed -->
      <agent type="Sitecore.Social.Client.Tasks.ManagePreExpiredAccounts, Sitecore.Social.Client">
        <patch:delete/>
      </agent>
      <!--Disable Sitecore.Social.config. SynchronizeSocialMediaInfo removed -->
      <agent type="Sitecore.Social.Client.Tasks.SynchronizeSocialMediaInfo, Sitecore.Social.Client">
        <patch:delete/>
      </agent>
      <!--Disable Sitecore.Social.config. PostFlaggedMessages removed -->
      <agent type="Sitecore.Social.Client.Tasks.PostFlaggedMessages, Sitecore.Social.Client">
        <patch:delete/>
      </agent>
      <!--Disable Sitecore.Social.config. UpdateMessagesStatistics removed -->
      <agent type="Sitecore.Social.Client.Tasks.UpdateMessagesStatistics, Sitecore.Social.Client">
        <patch:delete/>
      </agent>
      <!--Disable Sitecore.WebDAV.config. CleanupFDAObsoleteMediaData and WebDAVOptionsCleanupAgent removed. -->
      <agent type="Sitecore.Tasks.CleanupFDAObsoleteMediaData">
        <patch:delete/>
      </agent>
      <agent type="Sitecore.Tasks.WebDAVOptionsCleanupAgent">
        <patch:delete/>
      </agent>
    </scheduling>
    <!-- Disable Sitecore.ListManagement.config. segmentedListManager removed-->
    <segmentedListManager>
      <patch:delete/>
    </segmentedListManager>
    <!-- Disable Sitecore.ListManagement.config. segmentedListStore removed-->
    <segmentedListStore>
      <patch:delete/>
    </segmentedListStore>
    <sitecore.experienceeditor.speak.requests>
      <!-- Disable Sitecore.FXM.Speak.config. Multiple requests removed. -->
      <request name="ExperienceEditor.FXM.GetRulesEditorUrl">
        <patch:delete/>
      </request>
      <request name="ExperienceEditor.FXM.GetGoalsEditorUrl">
        <patch:delete/>
      </request>
      <request name="ExperienceEditor.FXM.GetAttributesEditorUrl">
        <patch:delete/>
      </request>
      <request name="ExperienceEditor.FXM.GetClientActionsData">
        <patch:delete/>
      </request>
      <request name="ExperienceEditor.FXM.GetElementReplacersData">
        <patch:delete/>
      </request>
      <!--Disable Sitecore.Social.config. GetMessagesCount and GetDialogUrl requests removed.-->
      <request name="ExperienceEditor.Social.SocialCenter.GetMessagesCount">
        <patch:delete/>
      </request>
      <request name="ExperienceEditor.Social.SocialCenter.GetDialogUrl">
        <patch:delete/>
      </request>
    </sitecore.experienceeditor.speak.requests>
    <sites>
      <!-- Processing configuration: Remove modules_website (refers to 'web' database) -->
      <site name="modules_website">
        <patch:delete/>
      </site>
      <!-- Processing configuration: Remove reference to 'web' database for 'website'. Instructions say remove, but this prevents loading of site for ShowConfig -->
      <site name="website">
        <patch:attribute name="database">master</patch:attribute>
      </site>
    </sites>
    <!-- Disable Sitecore.Social.config. social section removed-->
    <social>
      <patch:delete/>
    </social>
    <!--Disable Sitecore.Analytics.Tracking.config. submitQueue section removed-->
    <submitQueue>
      <patch:delete/>
    </submitQueue>
    <taxonomy>
      <!-- Processing configuration: Update taxonomy repository paths (Originally from Sitecore.Analytics.MarketingTaxonomy.config)-->
      <knownManagers>
        <campaignGroupTaxonomyManager>
          <param desc="repository">
            <patch:attribute name="ref">taxonomy/repositories/rdbTaxonomyRepository</patch:attribute>
          </param>
        </campaignGroupTaxonomyManager>
        <channelTaxonomyManager>
          <param desc="repository">
            <patch:attribute name="ref">taxonomy/repositories/rdbTaxonomyRepository</patch:attribute>
          </param>
        </channelTaxonomyManager>
        <assetTaxonomyManager>
          <param desc="repository">
            <patch:attribute name="ref">taxonomy/repositories/rdbTaxonomyRepository</patch:attribute>
          </param>
        </assetTaxonomyManager>
      </knownManagers>
      <customTaxonomyManager>
        <param desc="repository">
          <patch:attribute name="ref">taxonomy/repositories/rdbTaxonomyRepository</patch:attribute>
        </param>
      </customTaxonomyManager>
    </taxonomy>
    <tracking>
      <!--Disable Sitecore.Analytics.Tracking.config. sessionContextManager, contactManager and sharedSessionState removed.-->
      <sessionContextManager>
        <patch:delete/>
      </sessionContextManager>
      <contactManager>
        <patch:delete/>
      </contactManager>
      <sharedSessionState>
        <patch:delete/>
      </sharedSessionState>
    </tracking>
    <ui>
      <usings>
        <!--Disable Sitecore.Social.config. Multiple usings removed.-->
        <using patch:instead="using[.='Sitecore.Social.Client.Wizards.AddNetworkAccount']">
          <patch:delete/>
        </using>
        <using patch:instead="using[.='Sitecore.Social.Client.Wizards.AddSocialMarketerAccount']">
          <patch:delete/>
        </using>
        <using patch:instead="using[.='System']">
          <patch:delete/>
        </using>
        <!--Disable Sitecore.Social.Facebook.config. Facebook AddNetworkAccount removed.-->
        <using patch:instead="using[.='Sitecore.Social.Facebook.Client.Wizards.AddNetworkAccount']">
          <patch:delete/>
        </using>
      </usings>
      <references>
        <!--Disable Sitecore.Social.config. Sitecore.Social.Client.dll and System.dll removed -->
        <reference patch:instead="reference[.='/bin/Sitecore.Social.Client.dll']">
          <patch:delete/>
        </reference>
        <reference patch:instead="reference[.='System.dll']">
          <patch:delete/>
        </reference>
        <!--Disable Sitecore.Social.Facebook.config. Sitecore.Social.Facebook.Client.dll removed -->
        <reference patch:instead="reference[.='/bin/Sitecore.Social.Facebook.Client.dll']">
          <patch:delete/>
        </reference>
      </references>
    </ui>
    <!-- Disable Sitecore.ListManagement.config. useRepository removed-->
    <useRepository>
      <patch:delete/>
    </useRepository>
    <!--Disable Sitecore.WebDAV.config. WebDAV configuration block removed. -->
    <webdav>
      <patch:delete/>
    </webdav>
  </sitecore>
</configuration>
